<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577783720197-or4fmelhgdccl04p2ndk7di92vp5c7eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577783720197-or4fmelhgdccl04p2ndk7di92vp5c7eu</string>
	<key>API_KEY</key>
	<string>AIzaSyC0MI4AXGEGebWqPseS2CeWf10R69oiCKk</string>
	<key>GCM_SENDER_ID</key>
	<string>577783720197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>sanki-fb-auth-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>sanki-fb-auth-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577783720197:ios:0b4f042a6f23ac11f72f6c</string>
</dict>
</plist>